gradle.properties
*~
.idea/
.project
.classpath
.settings
.gradle
.islintignore
.DS_Store
.pydevproject
*.iml
*.iws
*.ipr
smartspaces_docs/src/main/sphinx/conf.py
smartspaces_docs/src/main/sphinx/smartspaces.pyc
smartspaces_docs/src/main/sphinx/javadoc.pyc
**/build/
**/bin/
!smartspaces_build/workbench/template/bin
**/dist/
**/msg_gen/
**/srv_gen/
**/gen/
**/test_output/
**/osgi_build/
**/target/
smartspaces-controller-android/libs/**
*.iml
smartspaces_docs/src/main/sphinx/__pycache__/*
**/.cache-main
**/.cache-tests
**/out
